
<img src="../../img/ods_stickers.jpg">

## <center> [mlcourse.ai](https://mlcourse.ai) – открытый курс OpenDataScience по машинному обучению 

Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [22]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [6]:
len(data[data['sex']=='Male'])

21790

In [7]:
len(data[data['sex']=='Female'])

10771

Решение

In [85]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [8]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

Решение

In [87]:
data[data["sex"] == "Female"]["age"].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [10]:
len(data[data['native-country']=='Germany'])/len(data)

0.004207487485028101

Решение

In [88]:
float((data["native-country"] == "Germany").sum()) / data.shape[0]

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [12]:
data['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [15]:
data[data['salary']=='>50K']['age'].describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [16]:
data[data['salary']=='<=50K']['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

Решение

In [89]:
ages1 = data[data["salary"] == ">50K"]["age"]
ages2 = data[data["salary"] == "<=50K"]["age"]
print(
    "The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(
        round(ages1.mean()),
        round(ages1.std(), 1),
        round(ages2.mean()),
        round(ages2.std(), 1),
    )
)

The average age of the rich: 44 +- 10.5 years, poor - 37 +- 14.0 years.

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [19]:
for degree, sub_df in data.groupby('education'):
    print(degree)
#     print(sub_df.sample(2))

10th
11th
12th
1st-4th
5th-6th
7th-8th
9th
Assoc-acdm
Assoc-voc
Bachelors
Doctorate
HS-grad
Masters
Preschool
Prof-school
Some-college

In [35]:
from scipy import stats

In [37]:
data.groupby('education')['salary'].agg(stats.mode)

education
10th             ([<=50K], [871])
11th            ([<=50K], [1115])
12th             ([<=50K], [400])
1st-4th          ([<=50K], [162])
5th-6th          ([<=50K], [317])
7th-8th          ([<=50K], [606])
9th              ([<=50K], [487])
Assoc-acdm       ([<=50K], [802])
Assoc-voc       ([<=50K], [1021])
Bachelors       ([<=50K], [3134])
Doctorate         ([>50K], [306])
HS-grad         ([<=50K], [8826])
Masters           ([>50K], [959])
Preschool         ([<=50K], [51])
Prof-school       ([>50K], [423])
Some-college    ([<=50K], [5904])
Name: salary, dtype: object

In [40]:
data[data['salary']=='>50K'].groupby('education')['salary'].agg(stats.mode)

education
10th              ([>50K], [62])
11th              ([>50K], [60])
12th              ([>50K], [33])
1st-4th            ([>50K], [6])
5th-6th           ([>50K], [16])
7th-8th           ([>50K], [40])
9th               ([>50K], [27])
Assoc-acdm       ([>50K], [265])
Assoc-voc        ([>50K], [361])
Bachelors       ([>50K], [2221])
Doctorate        ([>50K], [306])
HS-grad         ([>50K], [1675])
Masters          ([>50K], [959])
Prof-school      ([>50K], [423])
Some-college    ([>50K], [1387])
Name: salary, dtype: object

Решение

In [90]:
data[data["salary"] == ">50K"]["education"].unique()  # No

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [83]:
for race, sub_df in data.groupby(['race', 'sex']):
    print(race[0])
    print(race[1])
    print(sub_df.describe())

Amer-Indian-Eskimo
Female
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  119.000000     119.000000     119.000000    119.000000    119.000000
mean    37.117647  112950.731092       9.697479    544.605042     14.462185
std     13.114991   93207.974077       2.334540   2451.591587    157.763811
min     17.000000   12285.000000       2.000000      0.000000      0.000000
25%     27.000000   31387.000000       9.000000      0.000000      0.000000
50%     36.000000   87950.000000      10.000000      0.000000      0.000000
75%     46.000000  163027.500000      11.000000      0.000000      0.000000
max     80.000000  445168.000000      16.000000  15024.000000   1721.000000

       hours-per-week
count      119.000000
mean        36.579832
std         11.046509
min          4.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         84.000000
Amer-Indian-Eskimo
Male
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  192.000000     192.000000     192.000000    192.000000    192.000000
mean    37.208333  125715.364583       9.072917    675.260417     46.395833
std     12.049563   85063.251595       2.268587   2929.745443    286.562584
min     17.000000   13769.000000       2.000000      0.000000      0.000000
25%     28.000000   48197.750000       9.000000      0.000000      0.000000
50%     35.000000  113091.000000       9.000000      0.000000      0.000000
75%     45.000000  182656.000000      10.000000      0.000000      0.000000
max     82.000000  356015.000000      16.000000  27828.000000   1980.000000

       hours-per-week
count      192.000000
mean        42.197917
std         11.596280
min          3.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         84.000000
Asian-Pac-Islander
Female
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  346.000000     346.000000     346.000000    346.000000    346.000000
mean    35.089595  147452.075145      10.390173    778.436416     50.852601
std     12.300845   76401.627757       2.796647   7675.228631    296.529225
min     17.000000   19914.000000       1.000000      0.000000      0.000000
25%     25.000000   86879.250000       9.000000      0.000000      0.000000
50%     33.000000  131986.000000      10.000000      0.000000      0.000000
75%     43.750000  175705.750000      13.000000      0.000000      0.000000
max     75.000000  379046.000000      15.000000  99999.000000   2258.000000

       hours-per-week
count      346.000000
mean        37.439306
std         12.479459
min          1.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         99.000000
Asian-Pac-Islander
Male
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  693.000000     693.000000     693.000000    693.000000    693.000000
mean    39.073593  166175.865801      11.245310   1827.813853    120.373737
std     12.883944   88552.952600       2.777463  10947.525528    472.917697
min     18.000000   14878.000000       1.000000      0.000000      0.000000
25%     29.000000   98350.000000       9.000000      0.000000      0.000000
50%     37.000000  147719.000000      11.000000      0.000000      0.000000
75%     46.000000  200117.000000      13.000000      0.000000      0.000000
max     90.000000  506329.000000      16.000000  99999.000000   2457.000000

       hours-per-week
count      693.000000
mean        41.468975
std         12.387563
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Black
Female
               age         fnlwgt  education-num  capital-gain  capital-loss  \
count  1555.000000    1555.000000    1555.000000   1555.000000   1555.000000
mean     37.854019  212971.387781       9.549839    516.593569     45.450804
std      12.637197  109971.263983       2.207815   5312.749129    299.099591
min      17.000000   19752.000000       1.000000      0.000000      0.000000
25%      28.000000  142666.500000       9.000000      0.000000      0.000000
50%      37.000000  193553.000000       9.000000      0.000000      0.000000
75%      46.000000  253759.000000      10.000000      0.000000      0.000000
max      90.000000  930948.000000      16.000000  99999.000000   4356.000000

       hours-per-week
count     1555.000000
mean        36.834084
std          9.419960
min          2.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         99.000000
Black
Male
               age        fnlwgt  education-num  capital-gain  capital-loss  \
count  1569.000000  1.569000e+03    1569.000000   1569.000000   1569.000000
mean     37.682600  2.429206e+05       9.423199    702.454430     75.186106
std      12.882612  1.341460e+05       2.382841   4962.113183    370.976546
min      17.000000  2.185600e+04       1.000000      0.000000      0.000000
25%      27.000000  1.564100e+05       9.000000      0.000000      0.000000
50%      36.000000  2.211960e+05       9.000000      0.000000      0.000000
75%      46.000000  2.986010e+05      10.000000      0.000000      0.000000
max      90.000000  1.268339e+06      16.000000  99999.000000   2824.000000

       hours-per-week
count     1569.000000
mean        39.997451
std         10.909413
min          1.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         99.000000
Other
Female
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  109.000000     109.000000     109.000000    109.000000    109.000000
mean    31.678899  172519.642202       8.899083    254.669725     36.284404
std     11.631599   77766.666801       3.027482   1317.326460    231.796929
min     17.000000   24562.000000       2.000000      0.000000      0.000000
25%     23.000000  119890.000000       7.000000      0.000000      0.000000
50%     29.000000  171199.000000       9.000000      0.000000      0.000000
75%     39.000000  219441.000000      10.000000      0.000000      0.000000
max     74.000000  388741.000000      14.000000   7688.000000   1740.000000

       hours-per-week
count      109.000000
mean        35.926606
std         10.300761
min          6.000000
25%         30.000000
50%         40.000000
75%         40.000000
max         65.000000
Other
Male
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  162.000000     162.000000     162.000000    162.000000    162.000000
mean    34.654321  213679.104938       8.802469   1392.185185     77.746914
std     11.355531   92187.362738       3.361897  11093.711595    370.986720
min     17.000000   25610.000000       1.000000      0.000000      0.000000
25%     26.000000  150726.750000       8.000000      0.000000      0.000000
50%     32.000000  208516.500000       9.000000      0.000000      0.000000
75%     42.000000  253334.750000      10.000000      0.000000      0.000000
max     77.000000  481175.000000      16.000000  99999.000000   2179.000000

       hours-per-week
count      162.000000
mean        41.851852
std         11.084779
min          5.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         98.000000
White
Female
               age        fnlwgt  education-num  capital-gain  capital-loss  \
count  8642.000000  8.642000e+03    8642.000000   8642.000000   8642.000000
mean     36.811618  1.835500e+05      10.127980    573.610391     65.390535
std      14.329093  1.017103e+05       2.368115   4763.131649    352.330817
min      17.000000  1.939500e+04       1.000000      0.000000      0.000000
25%      25.000000  1.159148e+05       9.000000      0.000000      0.000000
50%      35.000000  1.758105e+05      10.000000      0.000000      0.000000
75%      46.000000  2.248365e+05      12.000000      0.000000      0.000000
max      90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count     8642.000000
mean        36.296691
std         12.190951
min          1.000000
25%         30.000000
50%         40.000000
75%         40.000000
max         99.000000
White
Male
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  19174.000000  1.917400e+04   19174.000000  19174.000000  19174.000000
mean      39.652498  1.889874e+05      10.138521   1368.674455    102.261343
std       13.436029  1.037146e+05       2.656464   8442.830669    434.156936
min       17.000000  1.882700e+04       1.000000      0.000000      0.000000
25%       29.000000  1.173810e+05       9.000000      0.000000      0.000000
50%       38.000000  1.786625e+05      10.000000      0.000000      0.000000
75%       49.000000  2.368588e+05      13.000000      0.000000      0.000000
max       90.000000  1.455435e+06      16.000000  99999.000000   3770.000000

       hours-per-week
count    19174.000000
mean        42.668822
std         12.194633
min          1.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         99.000000

In [68]:
d1 = data[data['race']=='Amer-Indian-Eskimo']
d1[d1['sex']=='Male']['age'].describe()

count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64

Решение

In [91]:
for (race, sex), sub_df in data.groupby(["race", "sex"]):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df["age"].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [99]:
d8 = pd.crosstab(data['salary'], data['marital-status'])
d8

marital-status,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed
salary,,,,,,,
<=50K,3980,13,8284,384,10192,959,908
>50K,463,10,6692,34,491,66,85

In [103]:
import re

oll = 0
m = 0
for column in d8.columns:
    oll += d8[column][1]
    if re.match(r'Married', column):
        m += d8[column][1]
m/oll # доля женатых мужчин получающих >50K

0.859074097691621

Решение

In [108]:
# married men
(data[(data["sex"] == "Male")
     & (data["marital-status"].str
        .startswith("Married"))]["salary"]
 .value_counts(normalize=True))

<=50K    0.559486
>50K     0.440514
Name: salary, dtype: float64

In [107]:
# single men
(data[(data["sex"] == "Male")
    & ~(data["marital-status"].str
        .startswith("Married"))]["salary"]
 .value_counts(normalize=True))

<=50K    0.915505
>50K     0.084495
Name: salary, dtype: float64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [74]:
data['hours-per-week'].max()

99

In [76]:
len(data[data['hours-per-week'] == data['hours-per-week'].max()])

85

In [78]:
d9 = data[data['hours-per-week'] == data['hours-per-week'].max()]
len(d9[d9['salary']=='>50K'])/len(d9['salary'])

0.29411764705882354

Решение

In [109]:
max_load = data["hours-per-week"].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data["hours-per-week"] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = (
    float(
        data[(data["hours-per-week"] == max_load) & (data["salary"] == ">50K")].shape[0]
    )
    / num_workaholics
)
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [84]:
for arg, sub_df in data.groupby(['native-country','salary']):
    print(arg[0])
    print(arg[1])
    print(sub_df['hours-per-week'].mean())

?
<=50K
40.16475972540046
?
>50K
45.54794520547945
Cambodia
<=50K
41.416666666666664
Cambodia
>50K
40.0
Canada
<=50K
37.91463414634146
Canada
>50K
45.64102564102564
China
<=50K
37.38181818181818
China
>50K
38.9
Columbia
<=50K
38.68421052631579
Columbia
>50K
50.0
Cuba
<=50K
37.98571428571429
Cuba
>50K
42.44
Dominican-Republic
<=50K
42.338235294117645
Dominican-Republic
>50K
47.0
Ecuador
<=50K
38.041666666666664
Ecuador
>50K
48.75
El-Salvador
<=50K
36.03092783505155
El-Salvador
>50K
45.0
England
<=50K
40.483333333333334
England
>50K
44.53333333333333
France
<=50K
41.05882352941177
France
>50K
50.75
Germany
<=50K
39.13978494623656
Germany
>50K
44.97727272727273
Greece
<=50K
41.80952380952381
Greece
>50K
50.625
Guatemala
<=50K
39.36065573770492
Guatemala
>50K
36.666666666666664
Haiti
<=50K
36.325
Haiti
>50K
42.75
Holand-Netherlands
<=50K
40.0
Honduras
<=50K
34.333333333333336
Honduras
>50K
60.0
Hong
<=50K
39.142857142857146
Hong
>50K
45.0
Hungary
<=50K
31.3
Hungary
>50K
50.0
India
<=50K
38.233333333333334
India
>50K
46.475
Iran
<=50K
41.44
Iran
>50K
47.5
Ireland
<=50K
40.94736842105263
Ireland
>50K
48.0
Italy
<=50K
39.625
Italy
>50K
45.4
Jamaica
<=50K
38.23943661971831
Jamaica
>50K
41.1
Japan
<=50K
41.0
Japan
>50K
47.958333333333336
Laos
<=50K
40.375
Laos
>50K
40.0
Mexico
<=50K
40.00327868852459
Mexico
>50K
46.57575757575758
Nicaragua
<=50K
36.09375
Nicaragua
>50K
37.5
Outlying-US(Guam-USVI-etc)
<=50K
41.857142857142854
Peru
<=50K
35.06896551724138
Peru
>50K
40.0
Philippines
<=50K
38.065693430656935
Philippines
>50K
43.032786885245905
Poland
<=50K
38.166666666666664
Poland
>50K
39.0
Portugal
<=50K
41.93939393939394
Portugal
>50K
41.5
Puerto-Rico
<=50K
38.470588235294116
Puerto-Rico
>50K
39.416666666666664
Scotland
<=50K
39.44444444444444
Scotland
>50K
46.666666666666664
South
<=50K
40.15625
South
>50K
51.4375
Taiwan
<=50K
33.774193548387096
Taiwan
>50K
46.8
Thailand
<=50K
42.86666666666667
Thailand
>50K
58.333333333333336
Trinadad&Tobago
<=50K
37.05882352941177
Trinadad&Tobago
>50K
40.0
United-States
<=50K
38.79912723305605
United-States
>50K
45.50536884674383
Vietnam
<=50K
37.193548387096776
Vietnam
>50K
39.2
Yugoslavia
<=50K
41.6
Yugoslavia
>50K
49.5

Решение

In [110]:
for (country, salary), sub_df in data.groupby(["native-country", "salary"]):
    print(country, salary, round(sub_df["hours-per-week"].mean(), 2))

? <=50K 40.16
? >50K 45.55
Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5